@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: #4d614e;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #abce6f63;
  
}

.logo {
  margin-left: 400px;
  font-size: 37px;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.new-task_container {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.add-new-task__button {
  height: 40px;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 7px;
  color: #4d614e;
  background-color: #d0dc88;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.add-new-task__button:active {
  font-size: 18px;
}

.added-tasks_container {
  display: flex;
  height: 65vh;
  width: 65vw;
  flex-direction: column;
  align-items: center;
  background-color: #b5d28363;
  border-radius: 7px;
}

.added-tasks_container_span {
  display: flex;
  justify-content: center;
  width: 65vw;
  border-bottom: 2px dashed #5c7368;
  font-size: 25px;
  font-weight: bold;
}

.new-task_container__label_name {
  font-size: 25px;
  padding: 5px;
}

.new-task_container__label_description {
  font-size: 25px;
  padding: 5px;
}

#new-task_container__input_name {
  border-radius: 5px;
  border: 1px solid #9da09a;
}

#new-task_container__textarea_description {
  border-radius: 5px;
  border: 1px solid #9da09a;
}

.added-task_container {
  width: 60vw;
  height: 6vh;
  background-color: #a8c55e;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.added-task_span {
  overflow: hidden;
  margin-left: 10px;
  
}

