@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: #4d614e;
  background-color: #abce6f38;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #abce6f63;
  
}

.logo {
  margin-left: 400px;
  font-size: 37px;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.new-task_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 380px;
  width: 760px;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 9999;
  position: absolute;
  background-color: #d7e8bc;
  border: 2px solid #9da09a;
  border-radius: 7px;
}

.add-new-task__button {
  outline: none;
  height: 30px;
  width: 120px;
  border-radius: 7px;
  color: #4d614e;
  background-color: #d0dc88;
  font-size: 23px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  cursor: pointer;
}

.add-new-task__button:active {
  font-size: 22px;
}

.added-tasks_container {
  display: flex;
  height: 65vh;
  width: 65vw;
  flex-direction: column;
  align-items: center;
  background-color: #b5d28363;
  border-radius: 7px;
  margin-top: 30px;
}

.added-tasks_container_span {
  height: 30px;
  font-size: 25px;
  font-weight: bold;
}

.new-task_form__label_name {
  font-size: 25px;
  padding: 5px;
}

.new-task_form__label_description {
  font-size: 25px;
  padding: 5px;
}

#new-task_form__input_name {
  border-radius: 5px;
  border: 1px solid #9da09a;
  height: 25px;
  width: 300px;
}

#new-task_form__textarea_description {
  border-radius: 5px;
  border: 1px solid #9da09a;
  width: 400px;
  height: 110px;
}

.edit-task_form__label_name {
  font-size: 25px;
  padding: 5px;
}

.edit-task_form__label_description {
  font-size: 25px;
  padding: 5px;
}

#edit-task_form__input_name {
  border-radius: 5px;
  border: 1px solid #9da09a;
  height: 25px;
  width: 300px;
}

#edit-task_form__textarea_description {
  border-radius: 5px;
  border: 1px solid #9da09a;
  width: 400px;
  height: 110px;
}

.added-task_container {
  width: 63vw;
  background-color: #a8c55e;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.added-task_span {
  margin-left: 10px;
}

.added-tasks_container__header {
  border-bottom: 2px dashed #5c7368;
  width: 65vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

.img-delete {
  height: 26px;
  width: 26px;
  cursor: pointer;
  opacity: 0.65;
}

.img-edit {
  height: 26px;
  width: 26px;
  cursor: pointer;
  opacity: 0.65;
}

.image-container {
  display: flex;
  width: 65px;
  justify-content: space-around;
  align-items: center;
}

.new-task_form__btn_add {
  outline: none;
  height: 30px;
  border-radius: 7px;
  color: #4d614e;
  background-color: #d0dc88;
  font-size: 15px;
}

.new-task_form__btn_add:active {
  font-size: 14px;
}

.edit-task_form__btn_edit {
  outline: none;
  height: 30px;
  border-radius: 7px;
  color: #4d614e;
  background-color: #d0dc88;
  font-size: 15px;
}

.edit-task_form__btn_edit:active {
  font-size: 14px;
}

.new-task_form__btn_cancel {
  outline: none;
  height: 30px;
  border-radius: 7px;
  color: #4d614e;
  background-color: #d0dc88;
  font-size: 15px;
}

.new-task_form__btn_cancel:active {
  font-size: 14px;
}

.edit-task_form__btn_cancel {
  outline: none;
  height: 30px;
  border-radius: 7px;
  color: #4d614e;
  background-color: #d0dc88;
  font-size: 15px;
}

.edit-task_form__btn_cancel:active {
  font-size: 14px;
}

.edit-task_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 380px;
  width: 760px;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 9999;
  position: absolute;
  background-color: #d7e8bc;
  border: 2px solid #9da09a;
  border-radius: 7px;
}

.new-task_form__btns {
  width: 150px;
  display: flex;
  justify-content: space-around;
}

.edit-task_form__btns {
  width: 150px;
  display: flex;
  justify-content: space-around;
}